html, body{
    height: 100%;
    color: white;
    background-color: black;
}
:root{
    --bs-secondary-rgb: 22,22,22;
}
.btn-success{
    --style-btn-success: #00d900;

    --bs-btn-bg: var(--style-btn-success);
    --bs-btn-border-color: var(--style-btn-success);
    --bs-btn-hover-bg: #00c900;
    --bs-btn-hover-border-color: #00c800;
    --bs-btn-active-bg: #00c700;
    --bs-btn-active-border-color: #00b900;
    --bs-btn-disabled-bg: #009900;
    --bs-btn-disabled-border-color: #009800;
}
.btn-primary{
    --style-btn-primary: #009200;
    
    --bs-btn-bg: var(--style-btn-primary);
    --bs-btn-border-color: var(--style-btn-primary);
    --bs-btn-hover-bg: #008200;
    --bs-btn-hover-border-color: #008100;
    --bs-btn-active-bg: #008100;
    --bs-btn-active-border-color: #007500;
    --bs-btn-disabled-bg: #005200;
    --bs-btn-disabled-border-color: #005100;
}
ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    height: 100%;
}
nav a.btn{
    width: 150px;
}
.d-flexx{
    display: flex;
}

#settings img{
    height: 30px;
    border-radius: 15px;
}
main>div>div>img{
    height: 60px;
    border-radius: 30px;
}
body>div{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

}
body>div>div>p{
    display: block;
    margin: 0;
}
main{
    padding: 30px;
    grid-template-columns: 500px 500px;
    gap: 20px;
}
@media screen and (max-width: 1111px){
    main{
        grid-template-columns: 500px;
    }
}
@media screen and (max-width: 580px){
    body>div{
        margin: 0;
        padding: 0;
        padding-top: 30px;
    }
    main{
        padding: 0;
        grid-template-columns: 100%;
    }
    
    
}
main>div{
    display: flex;
    flex-direction: column;
    padding: 20px;
    background-color: #222222;
    width: 100%;
    gap: 10px;

}
main>div>div{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 10px;
}
main>div>div>div{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
main *{
    margin: 0;
}
